* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {

    --primary-color: steelblue;
    /*steelblue*/
    --secondary-color: #f4a261;
    /*warn sand */
    --accent1-color: #264653;
    /*dark slate blue */
    --accent2-color: #e9c46a;
    /*light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

.logo img {

    height: 70px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: black;
    text-align: justify;
    padding: 1rem;
    text-decoration: none;
    padding: 1rem;
    height: 2rem;
    margin: 0 auto;

}

.navigation a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

h1 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
}

nav,
p {
    margin: 16px;
    padding: 8px;

    grid-template-columns: auto 1fr;
    align-items: center;
}

body {
    background: #f5f5f5;
    color: #4a5568;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px;
}

.trip-info h1 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 500;
}

.prices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
    gap: 20px;
}

.prices strong {
    display: block;
    margin-bottom: 5px;
}

.note {
    margin: 20px 0;
}

.small {
    font-size: 14px;
    color: #6b7280;
}

.booking {
    background: #e5e7eb;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.booking h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.booking label {
    display: block;
    margin: 15px 0 5px;
}

.booking select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
}