* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: #055a05;
    /*forest green*/
    --secondary-color: #f4a261;
    /*warn sand */
    --accent1-color: #264653;
    /*dark slate blue */
    --accent2-color: #e9c46a;
    /*light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

h1,
h2 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(--accent1-color);
    color: white;
}

nav a {
    color: blue;
    padding: 5px;
    display: block;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

footer p {
    text-align: left;
    color: #000;
}

footer nav {
    color: white;
    padding: 10px;

}

footer img {
    width: 50px;
    height: 50px;
    display: inline;

}

footer a {
    color: black;
    padding: 10px;
    display: inline;
    margin: 0 auto;

}

/* Class Selectors */
.box {

    border: 1px solid rgb(0 0 0 /10%);
    background-color: steelblue;
    opacity: 0.7;
    color: white;
    margin: 1px;
    padding: 8px;

}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 200px;
    text-align: justify;
}