* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: steelblue;
    /*steelblue*/
    --secondary-color: #f4a261;
    /*warn sand */
    --accent1-color: #264653;
    /*dark slate blue */
    --accent2-color: #e9c46a;
    /*light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}

.logo img {

    height: 70px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: black;
    text-align: justify;
    padding: 1rem;
    text-decoration: none;
    padding: 1rem;
    height: 2rem;
    margin: 0 auto;

}

.navigation a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

h1 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
}

nav,
p {
    margin: 16px;
    padding: 8px;

    grid-template-columns: auto 1fr;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    position: absolute;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    opacity: 0.9;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: center;
}

.hero article img {
    float: right;
    width: 125px;
}

section {
    padding: 2rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.div-about {
    grid-template-columns: 1fr 1fr 1fr;
}

section h2 {
    text-align: center;
}

section div {
    margin: 0 auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    align-items: center;
    display: grid;
}

section img {
    height: 160px;

}

section p {
    max-width: 240px;

}

section article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

section article img {

    max-width: 165px;
    height: 160px;

}

.birthstone-regular {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

div h1 {
    font-family: "Birthstone", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    align-content: center;
    position: relative;

    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

}

div p {
    color: #000;
    text-align: center;
    align-content: center;
    position: relative;
    font-size: large;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

nav a {
    color: blue;
    padding: 5px;
    display: block;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    background-color: steelblue;
    opacity: 0.7;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

footer p {
    text-align: center;
    margin: 0;
    color: #000;
}

footer nav {
    display: flex;
    color: white;
    padding: 10px;

}

footer img {
    width: 32px;
    height: 32px;

}

footer a {
    color: black;
    padding: 10px;
    display: inline;
    margin: 0 auto;

}

/* Class Selectors */
.box {

    border: 1px solid rgb(0 0 0 /10%);
    background-color: steelblue;

    color: white;
    margin: 1px;
    padding: 8px;

}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 50px;
    text-align: justify;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}

.map {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

form input,
form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;

}

fieldset {
    margin-top: 15px;
    border: none;
}

figcaption {
    text-align: center;
}

.checkbox {
    margin-top: 15px;
    font-weight: normal;
    flex-direction: column-reverse;
}

.checkbox-row input {
    transform: scale(1.2);
}

.radio {
    flex-direction: column;

}

table {
    border-collapse: collapse;

    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {

    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    ;
}

.form-column {
    display: flex;
    flex-direction: column;
}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 200px;
    text-align: justify;
}

section article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

section article img {

    border: 1px solid steelblue (0, 0, 0, .1);
    max-width: 165px;
    height: 170px;

}

button {
    margin: 0 auto;
    width: 150px;
    background-color: #0a0a8a;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;

}

figcaption {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

figcaption i {
    display: block;

    font-size: 28px;
    margin-bottom: 5px;
    color: #6b705c;
}

section img {

    max-width: 365px;
    height: 260px;
    border: 5px solid steelblue;
    box-shadow: 5px 5px 15px 5px #000000ac;
}

figure {

    text-align: center;
}

.promo {
    background-color: #cbb89d;
    padding: 50px;
    position: relative;

}

.promo img {
    width: 80%;
    display: block;

}

.promo-card {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);

    width: 320px;
    padding: 20px;

    background-color: #6b705c;
    color: white;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.promo-card h2 {
    margin-top: 0;
    font-size: 22px;
    text-align: center;

}

.promo-card p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

.promo-card button {
    margin-top: 15px;
    padding: 10px 16px;
    border: none;
    background: #e6d3b3;
    cursor: pointer;
}

.about-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-img figcaption {
    font-size: 14px;
    font-weight: 700;
}

.booking {
    background-color: #cbb89d;
    padding: 50px;
    position: relative;

}

.booking-card {
    position: absolute;
    right: 120px;
    top: 150%;
    transform: translateY(-50%);

    width: 320px;
    padding: 20px;

    background-color: #6b705c;
    color: white;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.booking-img {

    width: 465px;
    height: 280px;
    display: flex;
    justify-content: center;
    gap: 80px;

}

.booking {
    background: #e5e7eb;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.booking h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;

}

.booking label {
    display: block;
    margin: 15px 0 5px;
}

.booking select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
}

.note {
    margin: 20px 0;
}

.small {
    font-size: 14px;
    color: #6b7280;
}

.trip-info h3 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: 500;
    color: blue;
    align-items: center;
}

.prices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
    gap: 20px;
}

.prices strong {
    display: block;
    margin-bottom: 5px;
}