* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: steelblue;
    /*steelblue*/
    --secondary-color: #f4a261;
    /*warn sand */
    --accent1-color: #264653;
    /*dark slate blue */
    --accent2-color: #e9c46a;
    /*light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}

.logo img {

    height: 70px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: black;
    text-align: justify;
    padding: 1rem;
    text-decoration: none;
    padding: 1rem;
    height: 2rem;
    margin: 0 auto;

}

.navigation a:hover {
    color: steelblue;
    text-decoration: underline;
}

h1,
h2 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: center;
}

nav,
p {
    margin: 16px;
    padding: 8px;

    grid-template-columns: auto 1fr;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    position: absolute;
}

.hero img {

    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    opacity: 0.9;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: center;
}

.hero article img {
    float: right;
    width: 125px;
}

section {
    padding: 2rem;
    margin: 0 auto;

    align-items: center;
}

section div {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

section img {
    height: 160px;

}

section p {
    max-width: 240px;

}

section article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

article {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

section article img {
    padding: 1%;
    max-width: 165px;
    height: 160px;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

nav a {
    color: blue;
    padding: 5px;
    display: block;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

p {
    text-align: justify;
    padding: 10px;
}

figcaption {
    text-align: center;
}

footer {
    background-color: steelblue;
    opacity: 0.7;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

footer p {
    text-align: center;
    margin: 0;
    color: #000;
}

footer nav {
    display: flex;
    color: white;
    padding: 10px;

}

footer img {
    width: 32px;
    height: 32px;

}

footer a {
    color: black;
    padding: 10px;
    display: inline;
    margin: 0 auto;

}

/* Class Selectors */
.box {

    border: 1px solid rgb(0 0 0 /10%);
    background-color: steelblue;

    color: white;
    margin: 1px;
    padding: 8px;

}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 200px;
    text-align: justify;
}