* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}

body {
    font-family: Arial Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,
h2 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav a {
    color: blue;
    padding: 5px;
    display: inline;
}

main,
footer {
    width: 840px;
    margin: 0 auto;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;

}

.hero p {
    position: absolute;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(white);
    color: white;
}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

footer p {
    text-align: left;
    color: #000;
}

footer nav {
    color: white;
    padding: 10px;

}

footer img {
    width: 50px;
    height: 50px;
    display: inline;

}

footer a {
    color: black;
    padding: 10px;
    display: inline;
    margin: 0 auto;

}

/* Class Selectors */
.box {

    border: 1px solid rgb(0 0 0 /10%);
    background-color: steelblue;
    opacity: 0.7;
    color: white;
    margin: 1px;
    padding: 8px;

}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 200px;
    text-align: justify;
}

.flex {
    background-color: #aba;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    background-color: #abb;
    display: grid;
    place-items: center;

    /* enter declarations here */

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* write declarations here */

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* write declarations here */

}

.columns-3 {
    grid-column: 1/4;
    /* write declaration here */

}

.three {
    margin: .25rem;
    background-color: #abd;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}