* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,
h2 {
    font-family: Arial Arial, Helvetica, sans-serif;
    color: darkblue;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav a {
    color: blue;
    padding: 5px;
    display: block;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 10.7;
    background-color: var(white);
    color: white;
}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

footer p {
    text-align: left;
    color: #000;
}

footer nav {
    color: white;
    padding: 10px;

}

footer img {
    width: 50px;
    height: 50px;
    display: inline;

}

footer a {
    color: black;
    padding: 10px;
    display: inline;
    margin: 0 auto;

}

/* Class Selectors */
.box {

    border: 1px solid rgb(0 0 0 /10%);
    background-color: steelblue;
    opacity: 0.7;
    color: white;
    margin: 1px;
    padding: 8px;

}

article p {
    text-align: justify;
    margin: 1px;
    width: 650px;
    height: auto;
}

article img {
    width: 200px;
    text-align: justify;
}