* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

body {
    font-family: Arial;
    font-size: 16px;
}

h1 {
    color: darkblue;
    border-bottom: 3px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgba(0 0 0 / .3);
    padding: 2px;
    box-shadow: 0 0 30px #777;
    float: right;
    margin: 0 0 1rem 1rem;
}

.grid {
    display: grid;
    align-items: center;

}

.caption {
    grid-column: 1 / 4;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    text-align: justify;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 120px;
}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

footer p {
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {

    padding: 1rem;
}

li {
    margin: 10px;

}