* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 16px;
}

h1 {
    color: darkblue;
}

nav {
    padding: 0;
    background-color: steelblue;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

main {
    width: 75vw;
    margin: 1rem auto;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgba(0 0 0 / .3);
    padding: 2px;
    box-shadow: 0 0 30px #777;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20em;
    margin: 1rem auto;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    text-align: justify;
}

aside h2 {
    position: absolute;
    top: 67px;
    left: 120px;
}

p {
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

footer p {
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding: 1rem;
}
